body {
  font-family: Arial, sans-serif;
  background-color: #084685;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.instrucao {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 20px;
}

.resumo-lista {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.resumo-item {
  background-color: #ffffff;
  padding: 2px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.resumo-item h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.resumo-item ul {
  list-style: none;
  padding: 0;
}

.resumo-item li {
  margin: 8px 0;
}

.resumo-item a {
  color: #007bff;
  text-decoration: none;
}

.resumo-item a:hover {
  text-decoration: underline;
}
 .voltar{
    padding: 15px; 
    margin-top: 5px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #030f31;
    margin: 40px auto;
    display: block;
  }